*
!.gitignore
!init.el
!abbrev_defs
!custom.el

!README.md
!.travis.yml
!test-startup.sh
!update-subtrees.sh

!bin/
!bin/*

!etc/
!etc/*
!etc/*/*

!themes/
!themes/*

!lib/
!lib/*

!snippets/
!snippets/*
!snippets/*/*

!packages/
!packages/rest/
!packages/rest/*
!packages/rest/*/
!packages/rest/*/*
!packages/rest/*/*/
!packages/rest/*/*/*

!packages/lisp/
!packages/lisp/*
!packages/lisp/*/
!packages/lisp/*/*
!packages/lisp/*/*/
!packages/lisp/*/*/*


*.elc
epdfinfo
.yas-compiled-snippets.el

packages/elpa/*
packages/elpa/*/*/
!.emacs.d/packages/elpa/.gitkeep

!tmp/backups/
tmp/backups/*
!tmp/backups/.gitkeep

!MANIFEST
!.gitattributes

!calc.el
!early-init.el